/*
font-family: "Margarine", sans-serif;
font-family: "Tangerine", cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul:not(.row) {
    list-style: none;
    margin: 0;
    padding: 0;
}

.h1-title {
    font-size: 3rem;
    height: 6rem;
    padding-top: 1rem;
    background-image: url("../imgs/wall.png");
    font-family: "Margarine", sans-serif;
    text-align: center;
    font-style: italic;
}

img {
    width: 100%
}

body {
    background-image: url('../imgs/cork.png')
}

.sec-main {
    width: 100%;
}

.li-card {
    position: relative !important;
    transform: rotate(0);
    transition: transform .4s ease;
}

.li-card::before {
    border-radius: 5rem;
    position: absolute !important;
    content: "";
    background-image: url("../imgs/pin.svg");
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2rem;
    height: 2rem;
    z-index: 2;
}

.li-card:hover {
    transition: transform .4s ease;
    transform: rotate(10deg);
}

.p-card {
    font-family: "Tangerine", cursive;
}

.card {
    padding: 2rem;
}

.wrapper-abs-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.img-box img {
    width: 90%;
}

.img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper-abs-img button {
    margin: 2rem 0;
    padding: 0.6rem 3rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}