/*
font-family: "Margarine", sans-serif;
font-family: "Tangerine", cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1-title{
    font-size: 3rem;
    height: 6rem;
    padding-top: 1rem;
    background-image: url("../imgs/wall.png");
    font-family: "Margarine", sans-serif;
    text-align: center;
    font-style: italic;
}

.ul-cards{
    background-color: red;
}

.p-card{
    font-family: "Tangerine", cursive;

}